@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b202b;
  color: #333;
}

p {
  font-size: 1.6rem;
}

.title {
  font-size: 3rem;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 40px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 70px;
  width: 100%;
  margin-bottom: 160px;
}

.form {
  display: flex;
  justify-content: center;
  width: 700px;
}

.input {
  font-size: 1.9rem;
  padding: 0.5rem;
  line-height: 2rem;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  width: 100%;
  background-color: #2f3747;
  color: #949faf;
  outline: #1b202b;
}

.button {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 1.5rem;
  margin-left: 5px;
  transition: background-color 250ms;
}

.button:hover {
  background-color: #333;
  cursor: pointer;
}

.item {
  margin: 40px 30px 20px 15px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.55);
  background-color: #2f3747;
  width: 350px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: background-color 250ms;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(0,0,0,0.90);
  transform: scale(1.04);
}

.item h2 {
  text-align: center;
  font-size: 2rem;
}


.type {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  width: 200px;
  justify-content: space-between;
}

.type p {
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: rgba(0,0,0,0.40);
  border-radius: 12px;
  padding: 2px;
  line-height: 1rem;
  padding: .6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
  justify-content: center;
}


@media only screen and (max-width:580px) {
  .nav, .form {
    display: grid;
  }
  .form {
    width: 100%;
  }
  .nav {
    margin-bottom: 250px;
  }
  .button {
    height: 70%;
    line-height: 1px;
    width: 250px;
  }
  .item-list {
    margin-left: 35px;
    display: grid;
  }
}